
/** HTML BODY VARIABLES **/
$container_max_width: 1000px;
$body_bg: #DFDFDF;

/** INDEX CONTENT VARIABLES **/
$newscard_bg: #fff;
$book_icon_circle_width: 45px;
$top_story_image_width: 80px;
$top_story_image_height: 60px;

/** LOGIN DIV VARIABLES **/
$login_div_bg: #EFEFEF;

/** DASHBOARD VARIABLES **/
$dashboard_padding_side: 4em;
$dashboard_padding_top: 2em;

/* Dashboard: Earnings */
$earning_box_container_width: 66%;
$earning_box_width: 47.35%;
